@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

$font-stack:    'Lato', sans-serif;
$red:   #962D3E;
$black: #343642;
$grey:  #979C9C;
$white: #F2EBC7;
$blue:  #348899;

html {
    height: 100%;
}

body {
    background: #FFFFFF;
    font-family: $font-stack;
    color: $black;
    height: 100%;
    width: 100%;
}

p {
    line-height: 2.0em;
}

h1 {
    margin-bottom: 40px;
}

.dropdown-menu.user-nav {
    left: auto;
    right: 0;
}

a {
    color: $blue;
}
 
nav {

    margin-bottom: 80px;
    background: $black;

    a {
        color: #FFF;
    }

    a:hover {
        color: $white;
    }

    a.logo {
        background: $red;
        color: #FFF;
        padding: .5em 1em;
        font-weight: 600;
        letter-spacing: 1px;
        word-spacing: 5px;
        margin-right: 10px;
    }

    .nav-pills .nav-link {
        padding: 15px 25px;
    }

    .nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover, .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {

        background-color: $blue;
    }

    .dropdown-item {
        padding: 10px 1.5rem;
    }

    .dropdown-menu {
        border-radius: 0;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(52, 54, 66,.05);
}

.ticket
{
    h1 {
        margin: 40px 0px;
        margin-bottom: 30px;
    }

    h2 {
        opacity: 0.5;
        font-size: 1.5rem;
    }

    .btn.edit {
        margin-top: 45px;
    }

    .update, .changes {
        padding: 30px 40px;
        border: 1px solid #DDD;
        padding: 30px 40px;
        box-shadow: 0 0 15px #EEE;
        margin-bottom: 40px;
    }

    .description {
        padding: 20px 50px;

        h2 {                    
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
}

.btn {
    border-radius: 0;
}

.btn-link {
    color: $blue;
}

.btn-primary {
    background-color: $blue;
    border-color: $blue;
}

form {
    .form-control {
        border-radius: 0;
        border-color: #CCC !important;
    }
}

footer {
    width: 100%;
    padding: 30px;
}